nav {
    background-color: blueviolet;
    color: yellowgreen;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: yellowgreen;
}

body {
	background: #ccc;
}
.keyboard {
	width: 700px;
	height: 250px;
	background: powderblue;
	padding: 1%;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.keys {
	float: left;
	position: relative;
	height: 20%;
	cursor: pointer;
}
.keys span {
	position: absolute;
	z-index: 5;
	color: #555;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-weight: bold;
	font-size: 12px;
	white-space: nowrap;
	pointer-events: none;
}
.caps .capspan {
	content: '';
	width: 5px; 
	height: 5px;
	background: pink;
	position: absolute;
	top: 7px;
	right: 7px;
	z-index: 2;
	border-radius: 50%;
}
.caps-on .capspan {
	background: #c4daff;
	box-shadow: -2px -2px 7px #87b3ff, 1px 1px 7px #87b3ff;
}

.key {
/* 	width: 6.67%; */
	width: calc(100% / 15);
}
.key-third {
	width: calc(100% / 15 + 1.7%);
}
.key-two {
/* 	width: 13.33%; */
	width: calc(100% / 15 * 2);
}
.key-n-half {
	width: calc(100% / 15 * 1.5);
}
.key-n-half-half {
	--keyboard-width: 100%;
	--width-n-half: calc(var(--keyboard-width) / 15 * 1.5);
	--width-n-half-half: calc(var(--width-n-half) + 1.6%);
	width: var(--width-n-half-half);
/* 	width: var(--width-n-half); */
}
.key-two-n-half-half {
	--keyboard-width: 100%;
	--width-n-half: calc(var(--keyboard-width) / 15 * 1.5);
	--width-n-half-half: calc(var(--width-n-half) + 5%);
	width: var(--width-n-half-half);
}
.key-three {
	width: calc(100% / 15 * 2.75);
}
.space {
	width: calc(100% / 15 * 6);
}
.key-inner {
	background: rgb(0,0,0);
	background: radial-gradient(circle, rgba(31,31,31,1) 0%, rgba(19,19,19,1) 100%);
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	border-radius: 5px;
	border: 2px solid peru;
	border-top: 1px solid papayawhip;
	border-bottom: 4px solid plum;
	perspective: 500px;
}
.active .key-inner {
	border: 1px solid peru;
	border-top: 1px solid papayawhip;
	border-bottom: 2px solid peachpuff;
	background: palegreen;
	display: flex;
	justify-content: center;
	align-items: center;
}
.active .key-inner::after {
	content: '\f577';
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	font-size: 30px;
	color: palegoldenrod;
}


* {
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;     
  user-select: none;           
}

.f-span:after, .j-span:after {
	content: '';
	height: 3px;
	width: 15px;
	border-top: 1px solid papayawhip;
	border-radius: 5px;
	background: paleturquoise;
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translate(-50%, 0);
}